--
-- PostgreSQL database dump
--

\restrict mk9GuYYlHuOfeHUcbQ0mY7cTaYnaObWCLTfOZgRozrErG2JDpGnLNZbPogNQi1I

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: serviceable_pincodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.serviceable_pincodes (
    id integer NOT NULL,
    pin_code text NOT NULL,
    area text NOT NULL,
    district text NOT NULL,
    state text DEFAULT 'Karnataka'::text NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.serviceable_pincodes OWNER TO postgres;

--
-- Name: serviceable_pincodes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.serviceable_pincodes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.serviceable_pincodes_id_seq OWNER TO postgres;

--
-- Name: serviceable_pincodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.serviceable_pincodes_id_seq OWNED BY public.serviceable_pincodes.id;


--
-- Name: serviceable_pincodes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceable_pincodes ALTER COLUMN id SET DEFAULT nextval('public.serviceable_pincodes_id_seq'::regclass);


--
-- Data for Name: serviceable_pincodes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: serviceable_pincodes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.serviceable_pincodes_id_seq', 10, true);


--
-- Name: serviceable_pincodes serviceable_pincodes_pin_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceable_pincodes
    ADD CONSTRAINT serviceable_pincodes_pin_code_key UNIQUE (pin_code);


--
-- Name: serviceable_pincodes serviceable_pincodes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceable_pincodes
    ADD CONSTRAINT serviceable_pincodes_pkey PRIMARY KEY (id);


--
-- Name: idx_serviceable_pincodes_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_serviceable_pincodes_active ON public.serviceable_pincodes USING btree (is_active);


--
-- Name: idx_serviceable_pincodes_pin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_serviceable_pincodes_pin ON public.serviceable_pincodes USING btree (pin_code);


--
-- Name: serviceable_pincodes update_serviceable_pincodes_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_serviceable_pincodes_updated_at BEFORE UPDATE ON public.serviceable_pincodes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- PostgreSQL database dump complete
--

\unrestrict mk9GuYYlHuOfeHUcbQ0mY7cTaYnaObWCLTfOZgRozrErG2JDpGnLNZbPogNQi1I

